/* Background Animations */
@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes float-slow {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .floating-circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    animation: float 6s ease-in-out infinite;
  }
  
  .floating-circle-slow {
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    animation: float-slow 10s ease-in-out infinite;
  }
  